/* style.css */
body{
  background: rgb(245,245,245);
  color: green;
  font-size: 25px;
  font-family: Helvetica;
  background-color: rgb(240,240,240);
}
h1{
  font-family: Courier;
  color: red;
  font-weight: lighter;
  font-size: 10px;
}
h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 8px;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: pink;
}
#banner{
    color:rgb(41, 38, 75);
    margin: 35px;
    padding: 30px;
}
#footer{
    margin: 35px;
    padding: 30px;

}
.features{

}
#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}
